<div class="w-75 container mt-4 p-5 " style="background: rgba(33, 141, 241, 0.336); border-radius: 25px;">
    <h1 class="text-center">Transation History</h1>
    <table style="border-radius: 30px;" class="border-white border w-100">
        <thead class="border border-white">
           <tr>
                <th class="border border-white">type</th>
                <th class="border border-white">amount</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transation">
                <td class="border border-white">{{i.type}}</td>
                <td class="border border-white">{{i.amount}}</td>
            </tr>
           
        </tbody>
    </table>
</div>