<form>
    <div class="container p-5 border mt-5 w-50 text-center"
        style="height: 350px; background-color: rgba(58, 41, 212, 0.24); border-radius: 25px;">
        <input type="text" name="uname" [(ngModel)]="uname" class="form-control mt-3" placeholder="username"><br>
        <input type="text" name="acno" [(ngModel)]="acno" class="form-control mt-3" placeholder="accound name"><br>
        <input type="password" name="psw" [(ngModel)]="psw" class="form-control mt-3" placeholder="password"><br>
        <button type="submit" (click)="regester()" class="btn btn-outline-primary">sign up</button>
    </div>
</form>