 <h1 class="text-white p-4 ">Welcome {{user}}</h1> 

 <p class="text-white p-4 ">{{dateandtime | date:'short'}}</p>

<a style="background: rgba(255, 255, 255, 0.322); border-radius: 35px;text-decoration: none;" class="ms-2 p-2" routerLink="/transation">your transation History</a>

<app-deleteconfim [item]="acno"></app-deleteconfim>

<form [ngClass]="acno?'style':''" [formGroup]="depositeForm">
    <div class="container p-3 border mt-5 w-50 text-center"
        style="height: 350px; background-color: rgba(51, 73, 199, 0.384); border-radius: 25px;">
        <h3 class="text-white">DEPOSITE</h3>
        <input type="text" name="acno" formControlName="acno" class="form-control mt-3" placeholder="accound number" id="acid"><br>
        <input type="password" name="psw" formControlName="psw" class="form-control mt-3" placeholder="password" id="pid"><br>
        <input type="text" name="amount"  formControlName="amnt" class="form-control mt-3" placeholder="amound" id="aid"><br>
        <button type="submit" (click)="deposite()"  class="btn btn-primary">Deposite</button>
    </div>
</form>
<form [ngClass]="acno?'style':''" [formGroup]="withdrawForm">
    <div class="container p-3 border mt-5 w-50 text-center"
        style="height: 350px; background-color:rgba(51, 73, 199, 0.384) ; border-radius: 25px;">
        <h3 class="text-white" >WITHDRAW</h3>
        <input type="text" name="acno1" formControlName="acno1" class="form-control mt-3" placeholder="accound number" id="acid1"><br>
        <input type="password" name="psw1" formControlName="psw1" class="form-control mt-3" placeholder="password" id="pis1"><br>
        <input type="text" name="amount1" formControlName="amnt1" class="form-control mt-3" placeholder="amound" id="aid1"><br>
        <button type="submit" (click)="withdraw()" class="btn btn-primary">Withdraw</button>
    </div>
</form>
<button type="submit" (click)="logout()" class="btn btn-primary" style="margin-top: -1650px; margin-left: 1150px;">log out</button>

<button type="submit" (click)="deleteconfim()" class="btn btn-primary" style="margin-top: -1550px; margin-left: 1150px;"> Delete</button>
